@model IEnumerable<DndCharacterCreator.Models.CharacterListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Races)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alignments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedUtc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Races)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Classes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Alignments)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
